pipeline/Master_pipeline.json
{
	"name": "Master_pipeline",
	"properties": {
		"activities": [
			{
				"name": "copy_datalake",
				"type": "ExecutePipeline",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "copy_datalake",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "copy_SQL",
				"type": "ExecutePipeline",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "copy_SQL",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Copy_Rest_API",
				"type": "ExecutePipeline",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Copy_Rest_API",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "copy_datalake",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "copy_SQL",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Copy_Rest_API",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.Layers_name_to_run",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "RefreshDatabricksnotebook",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "RefreshDatabricksnotebook",
									"type": "PipelineReference"
								},
								"waitOnCompletion": false,
								"parameters": {
									"layer_name": {
										"value": "@item()",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Publish_databricks_to_sql",
				"type": "ExecutePipeline",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Publish_databricks_to_sql",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			}
		],
		"parameters": {
			"Layers_name_to_run": {
				"type": "array",
				"defaultValue": [
					"raw",
					"cleansed",
					"publish"
				]
			}
		},
		"variables": {
			"var": {
				"type": "String"
			},
			"var1": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-08-13T06:12:01Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}